<nav>
  <app-filter-trips></app-filter-trips>
  <div id="tripsAmount" [ngStyle]="{'background-color': Trips.reservedTrips.amount>10? 'yellowgreen':'red'}">
    You reserved {{ Trips.reservedTrips.getAmount() }} trips
  </div>
</nav>
<div id="mainContainer">
  <div id="tripsContainer" *ngFor="let trip of Trips.tripsFilter.TripsToDisplay; let i = index">
    <app-trip-window
      [trip]="trip"
      [biggestOrLowest]="isBiggestOrLowest(trip.unitPrice)"
      [index] = "i"
      (bookedPlaces) = "getOutput($event, i)"
    ></app-trip-window>
    <!-- <button class="actoionButton editButton" [routerLink]="['/edit', trip.key]">Edit</button>
    <button class="actoionButton deleteButton" (click)="deleteTrip(trip, i)">Delete</button> -->
  </div>
</div>
<footer>
</footer>
